@model TestGit.Models.item
@using TestGit.Models

@{
    ViewBag.Title = "Catalog Item";

    category cate = (category)ViewBag.category;
}

<h1>Catalogue :: @cate.name</h1>

@*<p>@Model.title</p>*@
@*<div>
    <h4>item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.barcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.library)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.library)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publishing_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publishing_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edition)
        </dd>

    </dl>
</div>*@


<div class="fl_l">


    @{
        string path = "media/catalogue/";
        string path_alt = "media/unavailable/";
       

        string image = (Model.image != null) ? path + Model.image : path_alt + cate.image;
        int img_width = 120;
    }
    <div class="lft">
        <img src="~/@image" alt="@cate.name"
             width="@img_width" />
    </div>
   
    <div class="rgt">
        <h3>
            <strong>
                @Model.title
            </strong>
        </h3>


       @if(Model.author != null) { 
        <p>
            by: <u>@Model.author</u>
        </p>
        }

        @if (Model.year != null)
        {
        <p>
         @Model.year   
        </p>
        }

        @if (Model.publishing_date != null)
        {
        <p>
           @Model.publishing_date
        </p>
        }

        @*@Basket.activeButton(Model.id)*@
        
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
