<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Public Access Catalog </title>
    <meta name="description" content="Online Public Access Catalog project" />
    <meta name="keywords" content="Online Public Access Catalog project" />
    <meta http-equiv="imagetoolbar" content="no" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div id="header">
        <div id="header_in">
            @*<h5><a href="/">Business Name</a></h5>*@
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div id="outer">
        <div id="wrapper">
            <div id="left">
                <h2>Navigation</h2>
                <div class="dev br_td">&nbsp;</div>
                <ul id="navigation">
                    <li>
                        <a href="/?page=catalogue">
                            Catalogue
                        </a>
                    </li>
                    <li>
                        <a href="/?page=loans">
                            Loans
                        </a>
                    </li>

                    <li>
                        <a href="/?page=account">
                            My Account
                        </a>
                    </li>
                </ul>
            </div>
            <div id="right">
                @RenderBody()
            </div>
            <hr />
        </div>
    </div>
    <div id="footer">
        <div id="footer_in">
            &copy; <a href="https://myopac.herokuapp.com/" title="OPAC" target="_blank">Felermino Ali</a>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
