@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        
        <div id="logged_as">
            Logged in as
            <strong>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</strong>
            | @Html.ActionLink("My Reservation", "Reservation", "Reservations", routeValues: null, htmlAttributes: new { id = "reservationsLink" })
            | <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
    }
}
else
{
    <div id="logged_as">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        | @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>

}
